.env*
*.swp
*.swo
*.swn
*.bak
*.original
custom.yml
config/Settings.toml
keys/*key*
prometheus/custom-prom.yml
promtail/custom-lokiurl.yml
# Additional backup files
*.backup
*.backup/
data.db.backup/
keystore.backup/
# keystore
keystore/
keystore/*
